In [25]:
import pandas
from numpy import nan

In [26]:
df = pandas.read_csv('auto-mpg.csv', header=None) 
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration',
              'model year', 'origin', 'name']

df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [27]:
df['horsepower'].replace('?',nan,inplace=True)
df.dropna(subset=['horsepower'],axis=0,inplace=True)
df['horsepower'] = df['horsepower'].astype('float')

In [28]:
df['model year'] = df['model year'] + 1900

## 변수들의 상대적인 크기 차이를 제거하기 위해 정규화

### 1. 각 값들을 최대값으로 나눠줌

In [29]:
max = df['horsepower'].max()
min = df['horsepower'].min()

hp_rate = df['horsepower'] / max
df.insert(4,'hp_rate',hp_rate)
df

,mpg,cylinders,displacement,horsepower,hp_rate,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,0.565217,3504.0,12.0,1970,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,0.717391,3693.0,11.5,1970,1,buick skylark 320
2,18.0,8,318.0,150.0,0.652174,3436.0,11.0,1970,1,plymouth satellite
3,16.0,8,304.0,150.0,0.652174,3433.0,12.0,1970,1,amc rebel sst
4,17.0,8,302.0,140.0,0.608696,3449.0,10.5,1970,1,ford torino
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,0.373913,2790.0,15.6,1982,1,ford mustang gl
394,44.0,4,97.0,52.0,0.226087,2130.0,24.6,1982,2,vw pickup
395,32.0,4,135.0,84.0,0.365217,2295.0,11.6,1982,1,dodge rampage
396,28.0,4,120.0,79.0,0.343478,2625.0,18.6,1982,1,ford ranger
397,31.0,4,119.0,82.0,0.356522,2720.0,19.4,1982,1,chevy s-10

### 2. 값 - 최소값 / 최대값 - 최소값 으로 정규화

In [30]:
min_x = df['horsepower'] - min
min_max = max - min
hp_rate2 = min_x / min_max
df.insert(5,'hp_rate2',hp_rate2)

In [32]:
df

,mpg,cylinders,displacement,horsepower,hp_rate,hp_rate2,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,0.565217,0.456522,3504.0,12.0,1970,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,0.717391,0.646739,3693.0,11.5,1970,1,buick skylark 320
2,18.0,8,318.0,150.0,0.652174,0.565217,3436.0,11.0,1970,1,plymouth satellite
3,16.0,8,304.0,150.0,0.652174,0.565217,3433.0,12.0,1970,1,amc rebel sst
4,17.0,8,302.0,140.0,0.608696,0.510870,3449.0,10.5,1970,1,ford torino
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,0.373913,0.217391,2790.0,15.6,1982,1,ford mustang gl
394,44.0,4,97.0,52.0,0.226087,0.032609,2130.0,24.6,1982,2,vw pickup
395,32.0,4,135.0,84.0,0.365217,0.206522,2295.0,11.6,1982,1,dodge rampage
396,28.0,4,120.0,79.0,0.343478,0.179348,2625.0,18.6,1982,1,ford ranger
397,31.0,4,119.0,82.0,0.356522,0.195652,2720.0,19.4,1982,1,chevy s-10